# Auto detect text files and perform LF normalization
* text=auto

# Large file storage
'*.epub' filter=lfs diff=lfs merge=lfs -text
'*.html' filter=lfs diff=lfs merge=lfs -text
'*.mcmc' filter=lfs diff=lfs merge=lfs -text
'*.nex'  filter=lfs diff=lfs merge=lfs -text
'*.p'    filter=lfs diff=lfs merge=lfs -text
'*.pdf'  filter=lfs diff=lfs merge=lfs -text
'*.png'  filter=lfs diff=lfs merge=lfs -text
'*.t'    filter=lfs diff=lfs merge=lfs -text
'*.tiff' filter=lfs diff=lfs merge=lfs -text
'*.trprobs' filter=lfs diff=lfs merge=lfs -text

