.smallcaps {
  font-variant: small-caps;
}

.figure {
  text-align: center;
}

.caption {
  font-size: smaller;
}

.state-note {
  text-indent: -16px;
  margin-left: 16px;
  padding: 0.5em 0;
}

.comment {
  color: #3daf37;
  font-style: italic;
}

.book .book-body .page-wrapper .page-inner .normal a {
  color: #1e6cbb;
}

svg {
  clear: both;
}

.tree {
  margin-bottom: -595px;
}

path {
  fill: none;
  stroke-linecap: round;
  stroke-width: 2.5;
}

path.inapplicable {
  stroke-dasharray: 6;
}

.book .book-body .page-wrapper .page-inner section.normal text.taxonLabel {
  fill: black;
  font-style: italic;
  font-size: 9.5pt;
}

.book .book-body .page-wrapper .page-inner section.normal svg text{
  font-size: 10pt;
}

tspan.score, tspan.flag {
  font-weight: bold;
}

text.stepsLabel {
  fill: #aab;
}

text.thisAn {
  fill: #34caaf;
}

.book .book-body .page-wrapper .page-inner section.normal .switcher, input.switcherNumber {
  height: 1.3em;
  font-size: 10pt;
  color: #34caaf;
  float: right;
}

input.switcherNumber {
  border: #34caaf solid 1px;
}
.book .book-body .page-wrapper .page-inner section.normal .selectTree {
  font-style: italic;
}
