.smallcaps {
  font-variant: small-caps;
}

.figure {
  text-align: center;
}

.caption {
  font-size: smaller;
}

.book .book-body .page-wrapper .page-inner section.normal .state-notes {
  border-top: solid 1px #aaa;
  font-size: smaller;
}

.book .book-body .page-wrapper .page-inner section.normal .state-note {
  text-indent: -16px;
  margin-left: 16px;
  padding: 0.5em 0;
}

.comment {
  color: #3daf37;
  font-style: italic;
}

.book .book-body .page-wrapper .page-inner .normal a {
  color: #1e6cbb;
}

.book .book-body .page-wrapper .page-inner section.normal .toggleDetails {
    float: right;
    position: relative;
    right: 1em;
    display: flow-root;
    font-size: smaller;
    top: -1.5em;
}

svg {
  clear: both;
}

path {
  fill: none;
  stroke-linecap: round;
  stroke-width: 2.5;
}

.inapplicable {
  stroke-dasharray: 6;
}

.book .book-body .page-wrapper .page-inner section.normal text.taxonLabel {
  font-style: italic;
  font-size: 9.5pt;
}
.book .book-body .page-wrapper .page-inner section.normal tspan.tipsHeader {
  font-style: normal;
  font-weight: bold;
  color: #858585;
}

.book .book-body .page-wrapper .page-inner section.normal svg.tree text,
svg#conTree text {
  font-size: 10pt;
}

.book .book-body .page-wrapper .page-inner section.normal svg.tree text.node,
 svg#conTree text.node {
  font-size: 8pt;
}

.stepsLabel {
  fill: #aab;
}

svg {
  max-height: 56vh;
}

svg tspan.score, svg tspan.fitch, svg .flag, svg .dud-step  {
  font-weight: bold;
}

.score {
  fill: #34caaf;
}

.fitch {
  fill: #ca3456;
}

circle {
  stroke: #ca3456;
  stroke-width: 2;
  r: 10;
  fill: none;
}

svg .dud-step {
  display: none;
  fill: #ca3456;
  opacity: 0;
}

svg .dud-step:hover {
  opacity: 1;
}

svg .highlightTaxon {
  font-weight: bold;
}

.thisAn {
  fill: #34caaf;
}

span.charNo {font-weight: bold;}
span.charNo::after {
  content: ": ";
}
div.tfm::before {
  content: "Valid transformations:";
}
div.rgn::before {
  content: "Applicable regions:";
}
div.ftch::before {
  content: "Logically invalid Fitch transformations:";
}
div.tfm::before , div.ftch::before, div.rgn::before {
  font-style: italic;
  text-align: center;
}
div.tfm, div.rgn, div.ftch {
  float: left;
  max-height: 32vh;
  overflow-y: auto;
}
div.cl3 { width: 33%; }
div.cl2 { width: 49%; }
div.cl1 { width: 100%; }
tspan.b41, text.b41 { fill:  #d7191c; }
tspan.b42, text.b42 { fill:  #fdae61; }
tspan.b43, text.b43 { fill:  #abd9e9; }
tspan.b44, text.b44 { fill:  #2c7bb6; }
div.ftch span.charNo, div.ftch::before  {color: #d7191c; }
div.rgn span.charNo, div.rgn::before  { color: #fdae61; }
div.tfm span.charNo, div.tfm::before { color: #2c7bb6; }
.book .book-body .page-wrapper .page-inner section.normal div.nddtl {
  font-size: smaller;
}
span.change {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}

.nddtlhdr, #nodeDetails {
  font-weight: bold;
  font-style: italic;
  color: #34caaf;
}

.legendLabels {
  fill: #858585; /* To match blockquote style */
}

.switcher {
  width: 678px;
  text-align: right;
}
.book .book-body .page-wrapper .page-inner section.normal .switcher, input.switcherNumber {
  font-size: 10pt;
  color: #34caaf;
}

input.switcherNumber {
  border: #34caaf solid 1px;
  margin-left: 6px;
  padding-left: 2px;
  width: 3em;
}

.book .book-body .page-wrapper .page-inner section.normal .selectTree {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

div.nddtl {
  display: none;
}
